ion-header{
    --ion-background-color:rgb(149, 228, 211);
  }
ion-content.background{
    --background: url('../../assets/images/image2.jpg');
}
ion-footer{
    text-align: center;
    color: black;
    background-color: rgb(229, 238, 237)
  }