<ion-header [ngClass]="{darkMode: dark=== true}">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"  [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: x-large;">MAP</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="goHome()" style="color:rgb(238, 210, 173); zoom:2.0" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{darkMode: dark=== true}" padding>
    <div class="map" #map></div>
</ion-content>
<ion-footer >@Copyright agromis</ion-footer>
