<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: x-large;">Sign in User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button class="submit" type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>

    <span class="divider line one-line">or</span>

    <ion-row>
      <ion-col> 
        <ion-button 
         type="submit" 
         class="google"
         (click)="authService.GoogleAuth()" 
         expand="block">
         <ion-icon name="logo-google"></ion-icon>
           oogle
        </ion-button>
        <br>
        <br>
        <a [routerLink]="['/reset-password']" >Reset Password?</a>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
<ion-footer >@Copyright agromis</ion-footer>