<ion-header [ngClass]="{darkMode: dark=== true}" >
  <ion-toolbar>
    <ion-back-button defaultHref="restaurants"  [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" slot="start"></ion-back-button>
     
     
    <ion-title [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" style="font-size: medium;">Add Restaurant</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="goHome()" style="color:rgb(238, 210, 173); zoom:2.0" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content  [ngClass]="{darkMode: dark=== true}">
  <div id="container"> 

    <ion-list>
      <form  [formGroup]="addRestaurantForm" (ngSubmit)="formSubmit()">
        <ion-item>
        <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"   style="font-size: large;" position="floating">Name</ion-label>
        <ion-input [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"  type="text" formControlName="name"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"   style="font-size: large;" position="floating">Description</ion-label>
        <ion-textarea [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" type="textarea" formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"   style="font-size: large;" position="floating">Address</ion-label>
        <ion-input [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"  type="text" formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"   style="font-size: large;" position="floating">Phone number</ion-label>
        <ion-input [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"  type="number" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"   style="font-size: large;" position="floating">Site</ion-label>
        <ion-input [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"  type="url" formControlName="site"></ion-input>
      </ion-item>
      
      </form>
      <ion-item>
      <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"   style="font-size: large;" position="floating">Category</ion-label>

      </ion-item>
      <ion-row>
        
        <div *ngFor="let tag of tagList">
          <ion-chip (click)="checkBoxes(tag)"  outline color="tertiary"><ion-label>{{tag}}</ion-label>
            <div *ngFor="let cur of eventTaglist">
              <div *ngIf="tag === cur">
    
                <!-- <ion-chip style="background-color: {{tag.color}};" (click)="checkBoxes(tag.name)" outline color="tertiary"><ion-label>{{tag.name}}</ion-label> -->
                  <ion-icon name="close-circle"></ion-icon>
              
               
                
              </div>
              </div></ion-chip>
        </div>
      </ion-row>
    </ion-list>
    

    <ion-card class="ion-text-center" *ngIf="!isUploading && !isUploaded">
      <ion-card-header>
        <ion-card-title [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" >Choose Images to Upload</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="light" shape="round" size="medium">
          <input type="file" (change)="selectImage($event.target.files)" />
        </ion-button>
        <ion-button (click)="uploadImage()">Upload Image</ion-button>
        <div *ngIf="file">
          <ion-avatar>
            <ion-img [src]="downloadableURL"></ion-img>
          </ion-avatar>

        </div>
       
        
         
        
      </ion-card-content>
    </ion-card>
    <app-location-picker></app-location-picker>

    

  </div>
<ion-button expand="full" (click)="formSubmit()" [disabled]="!addRestaurantForm.valid || !file">Submit</ion-button>
</ion-content>
<ion-footer >@Copyright agromis</ion-footer>

