<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header [ngClass]="{darkclass: dark=== true}">
      <ion-toolbar>
        <ion-title [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content [ngClass]="{darkclass: dark=== true}">
      <ion-list>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/hot']">
            <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">Hot</ion-label>
          </ion-item>
        </ion-menu-toggle> 
        <ion-menu-toggle>
          <ion-item [routerLink]="['/reviews']">
            <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">Reviews</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/booking/','']">
            <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" >Booking</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/map']">
            <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">Map</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/settings']">
            <ion-icon [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" name="settings-outline" slot="end"></ion-icon>
            <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="exitApp();">
            <ion-icon [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" name="exit-outline" slot="end"></ion-icon>
            <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">Exit</ion-label>
          </ion-item>
        </ion-menu-toggle>

       
       
        
       
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
