<ion-header [ngClass]="{darkMode: dark=== true}">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: x-large;">Tags</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="goHome()" style="color:rgb(238, 210, 173); zoom:2.0" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{darkMode: dark=== true}">
  <h1 [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" id="title" >{{id}} <ion-badge color="primary">{{restaurants.length}}</ion-badge></h1>
  <p [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">Check more restaurants with the tag name "{{id}}" </p>
  <ion-searchbar [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

  <br>

 

    <ion-item *ngFor="let restaurant of restaurants | filter:(filterTerm)"(click)="getDetailedRestaurant(restaurant.id)">
      
      <ion-avatar>
        <ion-img src="{{restaurant.photo}}"   width="100" height="100" alt="{{restaurant.name}}"></ion-img>
      </ion-avatar>
      <p [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">
        {{restaurant.name}}
      </p>
    </ion-item>
   



</ion-content>

<ion-footer >@Copyright agromis</ion-footer>
