<ion-header [ngClass]="{darkMode: dark=== true}" >
  <ion-toolbar>
    <ion-back-button defaultHref="dashboard"  [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" slot="start"></ion-back-button>

   
     
    <ion-title [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" style="font-size: medium;">Restaurants</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="goHome()" style="color:rgb(238, 210, 173); zoom:2.0" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content style="text-align: center;"  [ngClass]="{darkMode: dark=== true}">

  <ion-grid>
    <ion-row>
     <ion-col></ion-col>
      <ion-col>
        <ion-button [routerLink]="['/add-restaurant']" [ngClass]="{darkButton: dark=== true}"><ion-icon [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" style="zoom:2.0" name="add"></ion-icon></ion-button>
      </ion-col>
      <ion-col></ion-col>

    </ion-row>
  </ion-grid>
   <ion-list >
     <ion-item-sliding *ngFor="let restaurant of restaurants" >
      <ion-item (click)="getDetailedRestaurant(restaurant.id)">
        <ion-avatar slot="start">
          <ion-img [src]="restaurant.photo"></ion-img>
        </ion-avatar>
        <ion-text [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">
         {{restaurant.name}}
        </ion-text>
       
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="onDelete(restaurant.id, restaurant.photo)" slot="start">
          <ion-icon style="zoom:1.5" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" [routerLink]="['/edit-restaurant', restaurant.id]" slot="end">
          <ion-icon style="zoom:1.5" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
     </ion-item-sliding>
   
   </ion-list>
        
      
  

</ion-content>
<ion-footer >@Copyright agromis</ion-footer>