
<ion-header [ngClass]="{darkMode: dark=== true}" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" menu="main-menu"> </ion-menu-button>
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-button  size="small"type="submit" (click)="authService.SignOut()" color="danger"><ion-icon style="zoom: 2.0;" name="log-out-outline"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" style="font-size: medium;">Hello, {{userName}}</ion-title>
   
  </ion-toolbar>
  
</ion-header>

<ion-content [ngClass]="{darkMode: dark=== true}" >
  <ion-grid  >
    <ion-row>
     <ion-list *ngIf="isItemAvailable">
         <ion-item *ngFor="let item of items">{{ item }}</ion-item>
     </ion-list>
    </ion-row>
  
  </ion-grid>

  
  
  <ion-card-content>
    <ion-label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" style="font-size: x-large;" >Check Restaurants</ion-label>
    <ion-slides class="background" [options]="slideOptions"  #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
      <ion-slide *ngFor="let item of restList" (click)="getDetailedRestaurant(item.id)">

        <ion-grid>
          <ion-row>
            <label [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">{{item.name}}</label>
          </ion-row>  
         
          <ion-row>
            <img src="{{item.photo}}" style="height:230px; width:400px;"/>
          </ion-row>
        </ion-grid>

      </ion-slide> 
    </ion-slides>
    
  </ion-card-content>
  <!-- <div *ngIf="isAdmin"> -->
<div>
    <ion-fab  vertical="bottom" horizontal="end" >
      <ion-fab-button style="--background:yellow;" class="test" style="size: small;" >
        <ion-icon style=" color:black;"  name="add"></ion-icon>
      </ion-fab-button >
      <ion-fab-list side="top">
        <ion-fab-button (click)="addRestaurant()" color="light" >
          <ion-icon  name="add"></ion-icon>
        </ion-fab-button>
      
       
      </ion-fab-list>
    </ion-fab>
   
  </div>
  
</ion-content>
<ion-footer >@Copyright agromis</ion-footer>