ion-header {
  --ion-background-color: rgb(231, 252, 248);
  --ion-text-color: rgb(0, 0, 0);
  text-align: center;
  font-style: italic;

  text-shadow: 6px 1px 6px black;
}

.button1 {
  --border-radius: 30%;
  --vertical-align: middle;
  --padding-start: 4px;
  --padding-end: 4px;
  --background: rgb(238, 210, 173);

  --background-activated: green;
  --color: rgb(27, 26, 26);
  --color-activated: white;
}
.button2 {
  --border-radius: 30%;
  --vertical-align: middle;
  --padding-start: 21px;
  --padding-end: 21px;
  --background: rgb(238, 210, 173);

  --background-activated: green;
  --color: rgb(27, 26, 26);
  --color-activated: white;
}
.searchbar {
  --background: rgb(241, 241, 241);
}

ion-content {
  --ion-background-color: rgb(231, 252, 248);
}

.title {
  --ion-background-color: rgb(207, 248, 240);
  --ion-text-color: rgb(238, 210, 173);
  text-align: center;
  font-style: italic;
}

ion-footer {
  text-align: center;
  color: black;
  background-color: rgb(231, 252, 248);
}
.darkMode {
  --ion-background-color: rgb(34, 1, 65);
}
