
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="outline" size="small"type="submit" (click)="authService.SignOut()" color="danger">Logout</ion-button>
      </ion-buttons>
    <ion-title style="font-size: x-large;">Hello, {{userlogedin.displayName}}</ion-title>
   
  </ion-toolbar>
  
</ion-header>

<ion-content padding class="background">
  <ion-grid  >
    <ion-row>
      <ion-searchbar class="searchbar"></ion-searchbar>
    </ion-row>
    <ion-row class="ion-align-items-start">
     

      <ion-col size-lg="4" size-md="4" size-sm="4" size="3" >
        <ion-button  [routerLink]="['/hot']"class="button2" style="text-transform: none;">  Hot  </ion-button>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size-sm="4" size="3">
        <ion-button  [routerLink]="['/reviews']" class="button1" style="text-transform: none;" >Reviews</ion-button>
      </ion-col >
      <ion-col size-lg="4" size-md="4" size-sm="4" size="3">
        <ion-button  (click)="bookNow(' ')" class="button1" style="text-transform: none;">Booking</ion-button>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size-sm="4" size="3">
        <ion-button  [routerLink]="['/map']"class="button2" style="text-transform: none;">Map</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  
  
  <ion-card-content>
    <ion-label style="font-size: x-large;" >Check Restaurants</ion-label>
    <ion-slides class="background" [options]="slideOptions"  #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
      <ion-slide *ngFor="let item of restList" (click)="getDetailedRestaurant(item.id)">

        <ion-grid>
          <ion-row>
            <label>{{item.name}}</label>
          </ion-row>  
         
          <ion-row>
            <img src="{{item.photo}}" style="height:230px; width:400px;"/>
          </ion-row>
        </ion-grid>

      </ion-slide> 
    </ion-slides>
    
  </ion-card-content>
  
</ion-content>
<ion-footer >@Copyright agromis</ion-footer>