ion-header {
  --ion-background-color: rgb(231, 252, 248);
  --ion-text-color: rgb(238, 210, 173);
  text-align: center;
  font-style: italic;

  text-shadow: 2px 2px 4px black;
}
ion-content {
  --ion-background-color: rgb(231, 252, 248);
}
ion-footer {
  text-align: center;
  color: black;
  background-color: rgb(231, 252, 248);
}
.submit {
  --background: rgb(238, 210, 173);
  color: black;
}
.darkMode {
  --ion-background-color: rgb(34, 1, 65);
}
