<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: x-large;">Create Review</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="goHome()" style="color:rgb(0, 0, 0); zoom:2.0" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
<div *ngIf="canReview">
  <ion-list lines="full">
    <form [formGroup]="createForm" (ngSubmit)="formSubmit()">
      <ion-item >
        <ion-select class= "bold"placeholder="Restaurants"formControlName="name">
          <ion-item *ngFor="let item of restaurants">
            <ion-select-option value={{item.name}}>{{item.name}}</ion-select-option>
          </ion-item>
        </ion-select>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        
        <ion-input formControlName="review" placeholder="   My review" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item >
        <ion-range style="color: sandybrown;" formControlName="vote" min="0" max="10" >Rating
              <ion-label  slot="start">0</ion-label>
              <ion-label slot="end">10</ion-label>
        </ion-range>
        
       
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button class="submit" type="submit"   expand="block">Create Review</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</div>
<div *ngIf="!canReview">
  <p>You are in gueast Mode</p>
</div>
  
  
</ion-content>

<ion-footer >@Copyright agromis</ion-footer>