ion-header {
  --ion-background-color: rgb(231, 252, 248);
  --ion-text-color: rgb(238, 210, 173);
  text-align: center;
  font-style: italic;

  text-shadow: 2px 2px 4px black;
}
ion-content {
  --ion-background-color: rgb(231, 252, 248);
}
ion-footer {
  text-align: center;
  color: black;
  background-color: rgb(229, 238, 237);
}

.title {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.nameLabel {
  text-align: center;
  color: rgb(238, 210, 173);
  text-shadow: 2px 2px 2px black;
  font-size: x-large;
}
.news {
  font-size: small;
  background-color: lightgray;
}
#reserveBtn {
  --border-radius: 10%;
  --vertical-align: middle;

  --background: rgb(238, 210, 173);
  --color: rgb(27, 26, 26);
}
.darkMode {
  --ion-background-color: rgb(34, 1, 65);
}
