<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: x-large;">Details</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="goHome()" style="color:rgb(0, 0, 0); zoom:2.0" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngFor="let item of restaurant">

    <h1 id="title" >{{item.name}}</h1>
  
    <img src="{{item.photo}}" width="250" height="200"style="middle;margin:0px 50px">



    <p id="description">{{description1}}<span id="dots">... </span><span id="more">{{description2}}</span></p><button (click)="showMoreFunction()" id="myBtn">Read more</button>
    <br>
    <ion-button>Go to Map</ion-button>
    <br>
  <label class="labels" for="item.cousine">Cousine: </label>
  <p>
    <a (click)="getDetailedTag(item.cousine[0])">{{item.cousine[0]}},</a> 
    <a (click)="getDetailedTag(item.cousine[1])"> {{item.cousine[1]}},</a>
    <a (click)="getDetailedTag(item.cousine[2])"> {{item.cousine[2]}}</a>
  </p>
  

  <br>

  <label class="labels" for="item.cousine">Rating: </label>

  <div class="container">


    <div style="text-align: center;" *ngIf="item.rating===0">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div style="text-align: center;" *ngIf="item.rating>0 && item.rating<=1.8">
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div style="text-align: center;" *ngIf="item.rating>1.8 && item.rating<=2.8">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div style="text-align: center;" *ngIf="item.rating>2.8 && item.rating<=3.8">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div style="text-align: center;" *ngIf="item.rating>3.8 && item.rating<=4.8">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div style="text-align: center;" *ngIf="item.rating>4.8 && item.rating<=5.8">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div style="text-align: center;" *ngIf="item.rating>5.8 && item.rating<=6.8">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div style="text-align: center;" *ngIf="item.rating>6.8 && item.rating<=7.8">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div style="text-align: center;" *ngIf="item.rating>7.8 && item.rating<=8.8">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>

    <div style="text-align: center;" *ngIf="item.rating>8.8 && item.rating<=9.8">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
    </div>

    <div style="text-align: center;" *ngIf="item.rating>9.8">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </div>
   
  </div>

  <br>
  <br>
  <label class="labels" for="item.phone">Phone: </label>
  <p>{{item.phone}}</p>

  <br>
  <label class="labels" for="item.site">Go to site: </label>
  <p>
    <a href="{{item.site}}">{{item.site}}</a>
  </p>
  
  <br>
  <label class="labels" for="item.location">Location: </label>
  <p>{{item.location.latitude}}</p>

  <br>
  
  <br>
  <ion-button  expand="block" class="booking" (click)="bookNow(item.name)">Make a reservation now</ion-button>
</div>
  <br>
  <label class="labels" >Reviews:</label>

  <div *ngIf="reviews.length===0">
    <p>No reviews found</p>
  </div>
  <h6 *ngFor="let rev of reviews">
 
    
    <p style="font-size:13px; color:rgb(93, 21, 111); font-style:italic;">"{{rev.review}}"</p>
    <p style="font-size: 13px; color: sienna;">by {{rev.user}}</p>
    <div style="align-content: center;">


      <div *ngIf="rev.vote===0">
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>0 && rev.vote<=1.8">
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>1.8 && rev.vote<=2.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>2.8 && rev.vote<=3.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>3.8 && rev.vote<=4.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>4.8 && rev.vote<=5.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>5.8 && rev.vote<=6.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>6.8 && rev.vote<=7.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>7.8 && rev.vote<=8.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>8.8 && rev.vote<=9.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
      </div>

      <div *ngIf="rev.vote>9.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </div>

    </div>
    
    <hr>
    <h4>......................................................</h4>
  </h6>

</ion-content>

<ion-footer >@Copyright agromis</ion-footer>

