ion-header{
  --ion-background-color:rgb(231, 252, 248);
  --ion-text-color:rgb(238, 210, 173);
  text-align: center;
  font-style: italic;
  
  
  text-shadow: 2px 2px 4px black;
  }
h1{
    text-align: center;
}
ion-content{
    --ion-background-color:rgb(231, 252, 248);
}

p{
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

ion-footer{
    text-align: center;
    color: black;
    background-color: whitesmoke;
  }
  #more {display: none;}

  .labels{
    color:black;
    font-weight: bold;
    font-size:20px;
    font-family: Ranchers;
    //text-shadow:2px 2px 4px rgb(238, 210, 173);
  }

  #myBtn{
    --background:rgb(238, 210, 173);
    --color:black;
 
  }

  #title{
    color:black;
    font-weight: bold;
    font-family: Dancing Script;
  }

  #description{

    color:black;
    font-size:13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
 

  .booking{
    color:black;
    
    --background:rgb(238, 210, 173);
  }
  
  .mapLight{
    --background: rgb(231, 252, 248);
  }
  .mapDark{
    --background: rgb(34, 1, 65);
    --ion-text-color:rgb(238, 210, 173);
  }
  .darkMode {
    --ion-background-color: rgb(34, 1, 65);
  }
  