<ion-header [ngClass]="{darkMode: dark=== true}" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"  [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: x-large;">Details</ion-title>
    <ion-buttons  slot="end">
      <ion-icon style="zoom: 2.0;" (click)="goHome()" [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{darkMode: dark=== true}"  style="text-align: center;">
  <ion-card [ngClass]="{darkMode: dark=== true}" >
    <div *ngFor="let item of restaurant">

      <h1 [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" >{{item.name}} </h1>
    
      <ion-img src="{{item.photo}}" width="250" height="200"style="middle;margin:0px 50px"></ion-img>
  
  
     
  
      <p [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">{{description1}}<span id="dots">... </span><span id="more">{{description2}}</span></p><ion-button (click)="showMoreFunction()" id="myBtn">Read more</ion-button>
      <br>
      <br>
    <h4 [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" for="item.cousine">Cousine: </h4>
    <p >
      <a [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" (click)="getDetailedTag(item.cousine[0])">{{item.cousine[0]}},</a> 
      <a [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" (click)="getDetailedTag(item.cousine[1])"> {{item.cousine[1]}},</a>
      <a [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" (click)="getDetailedTag(item.cousine[2])"> {{item.cousine[2]}}</a>
    </p>
    
  
    <br>
  
    <h4 [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" for="item.cousine">Rating: </h4>
  
    <div [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">
  
  
      <div style="text-align: center;" *ngIf="item.rating===0">
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
  
      <div style="text-align: center;" *ngIf="item.rating>0 && item.rating<=1.8">
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
  
      <div style="text-align: center;" *ngIf="item.rating>1.8 && item.rating<=2.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
  
      <div style="text-align: center;" *ngIf="item.rating>2.8 && item.rating<=3.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
  
      <div style="text-align: center;" *ngIf="item.rating>3.8 && item.rating<=4.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
  
      <div style="text-align: center;" *ngIf="item.rating>4.8 && item.rating<=5.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
  
      <div style="text-align: center;" *ngIf="item.rating>5.8 && item.rating<=6.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
  
      <div style="text-align: center;" *ngIf="item.rating>6.8 && item.rating<=7.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
  
      <div style="text-align: center;" *ngIf="item.rating>7.8 && item.rating<=8.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
  
      <div style="text-align: center;" *ngIf="item.rating>8.8 && item.rating<=9.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
      </div>
  
      <div style="text-align: center;" *ngIf="item.rating>9.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </div>
     
    </div>
  
    <br>
    <br>
    <h4 [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" for="item.phone">Phone: </h4>
    <p [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">{{item.phone}}</p>
  
    <br>
    <h4 [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" for="item.site">Go to site: </h4>
    <ion-text>
      <a [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"  href="{{item.site}}">{{item.site}}</a>
    </ion-text>
    
    <br>
    <h4 [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" for="item.address">Address: </h4>
    <ion-button [ngClass]="{mapDark: dark=== true, mapLight:dark===false}" [routerLink]="['/map']"  class="map"><ion-icon
        [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"  style="zoom: 1.5;" name="navigate-outline"></ion-icon></ion-button>
        <p [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}"> {{item.address}}</p>
    <!-- <p [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">{{item.location.latitude}}</p> -->

  
    <br>
    
    <br>
    <ion-button  expand="block" class="booking" (click)="bookNow(item.name)">Make a reservation now</ion-button>
  </div>
  </ion-card>
 
  <br>
  <h4 [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" >Reviews:</h4>

  <div *ngIf="reviews.length===0">
    <p [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}">No reviews found</p>
  </div>
  <h6 *ngFor="let rev of reviews">
 
    
    <p style="font-size:13px; color:rgb(93, 21, 111); font-style:italic;" [ngStyle]="{color: dark === false ? 'rgb(93, 21, 111)' : 'rgb(226, 110, 255)'}">"{{rev.review}}"</p>
    <p style="font-size: 13px; color: sienna;" [ngStyle]="{color: dark === false ? 'sienna' : 'rgb(252, 133, 78)'}">by {{rev.user}}</p>
    <div [ngStyle]="{color: dark === true ? 'rgb(238, 210, 173)' : 'black'}" style="align-content: center;">


      <div *ngIf="rev.vote===0">
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>0 && rev.vote<=1.8">
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>1.8 && rev.vote<=2.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>2.8 && rev.vote<=3.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>3.8 && rev.vote<=4.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>4.8 && rev.vote<=5.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>5.8 && rev.vote<=6.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>6.8 && rev.vote<=7.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>7.8 && rev.vote<=8.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>

      <div *ngIf="rev.vote>8.8 && rev.vote<=9.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
      </div>

      <div *ngIf="rev.vote>9.8">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </div>

    </div>
    
    <hr>
    <h4>......................................................</h4>
  </h6>

</ion-content>

<ion-footer >@Copyright agromis</ion-footer>

